<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <!-- Bootstrap Icons CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

        <link href="../css/login/login.css" rel="stylesheet">
        <link href="../css/login/navbar.css" rel="stylesheet">
    </head>
    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/navbar.ejs') %>
        <div data-spy="scroll" data-target="#navbar" data-offset="0">
            <%- include('./partials/login.ejs') %>
        </div>
        <%- include('./partials/script.ejs') %>
    </body>
</html>
